{% extends 'base.html.twig' %}

{% block title %}{{ quiz.title }}{% endblock %}

{% block body %}
    <div {{ react_component('Quiz', { quiz: quiz|serialize('json', { groups: 'quiz:read' }) }) }}></div>
{% endblock %}
